<body class="cbp-spmenu-push">
	<div class="main-content">
		<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
			<!--left-fixed -navigation-->
			<aside class="sidebar-left">
				<nav class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
                        <span class="sr-only">Menu de nav</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="index.html"><span class="fa fa-area-chart"></span> PLATZI<span class="dashboard_text">PHP básico</span></a></h1>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="sidebar-menu">
                            <li class="header">MENU PRINCIPAL</li>
                            <li class="treeview">
                                <a href="index.php">
                                <i class="fa fa-dashboard"></i> <span>Home</span>
                                </a>
                </li>
                

                <li class="treeview">
                                <a href="#">
                                <i class="fa fa-home"></i>
                                <span>Imóveis</span>
                                <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="imoveis-consulta.php"><i class="fa fa-angle-right"></i> Consultar</a></li>
                                    <li><a href="imoveis-cadastro.php"><i class="fa fa-angle-right"></i> Incluir</a></li>
                                </ul>
                </li>


                <li class="treeview">
                                <a href="#">
                                <i class="fa fa-user"></i>
                                <span>Clientes</span>
                                <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-angle-right"></i> Consultar</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> Incluir</a></li>
                                </ul>
                </li>

                <li class="treeview">
                                <a href="#">
                                <i class="fa fa-briefcase"></i>
                                <span>Tipos de imóveis</span>
                                <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-angle-right"></i> Consultar</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> Incluir</a></li>
                                </ul>
                </li>

                <li class="treeview">
                                <a href="#">
                                <i class="fa fa-briefcase"></i>
                                <span>Status de imóveis</span>
                                <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-angle-right"></i> Consultar</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> Incluir</a></li>
                                </ul>
                </li>
                
                    

                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
            </nav>
        </aside>
    </div>
        <!--left-fixed -navigation-->
        
